body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    --fg: #000;
    --bg: #fff;
    --sel: #f9f9f9;
}
.CodeMirror{
    z-index:1;
    padding:0;
    box-sizing:border-box;
    flex-grow:1;
}

/*menu component*/
nav{
    display: flex;
    height: 40px;
    box-sizing: border-box;
    background: var(--fg);
    border-bottom: 1px solid #bbb;
    z-index:2;
    background: var(--bg);
}
.m1{
    height:100%;
    box-sizing:border-box;
    line-height:40px;
    cursor: pointer;
    width:50px;
    text-align:center;
    background: var(--bg);
    color: var(--fg);
}
.m1:hover, .m2:hover, .m3:hover{
    font-weight:500 !important;
    background:var(--sel) !important;
}
.m1:hover>.m2, .m2:hover>.m3{
    display:block;
}
.m2,.m3{
    display:none;
    font-weight: 400;
    width:100px;
    border:1px solid #bbb;
    border-top:none;
    height:40px;
    text-align:left;
    padding-left: 10px;
    background: var(--bg);
    color: var(--fg);
}
.m3{
    margin-left:100px;
    width:80px;
}
.m3:first-child{
    margin-top:-41px;
    border-top:1px solid #bbb;
}
.m1>.m2:not(:last-child), .m2>.m3:not(:last-child){
    border-bottom:none;
}
.title{
    text-align:center;
    color: #888;
    box-sizing:border-box;
    height:100%;
    line-height:40px;
    flex-grow:1;
    background: var(--bg);
}

/*search*/
.search-box{
    display:flex;
    padding: 8px;
    background:var(--bg);
}
.btn-close {
    padding: 8px 12px;
    font-weight: bold;
    cursor: pointer;
    color:var(--fg);
}
.btn-close:hover{
    color:#779;
}
button{
    cursor: pointer;
}
button:hover{
    background:var(--sel);
}
input{
    flex-grow:1;
}
button, input{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    background:var(--bg);
    color:var(--fg);
    border:1px solid #bbb;
    padding: 8px;
}

/*modals*/
.modal{
    position:fixed;
    width:100%;
    max-width: 500px;
    z-index:3;
    left:50%;
    transform: translate(-50%,100px);
    border: 1px solid #bbb;
}
.modal-head {
    display: flex;
    color: var(--fg);
    background: var(--sel);
}
.modal-title{
    flex-grow:1;
    line-height:38px;
    margin-left:12px;
    font-weight: 500;
}
.modal-body{
    display:flex;
    padding:8px;
    background: var(--bg);
}
table{
    width:100%;
    border-collapse: collapse;
    color: var(--fg);
}
tr:not(:first-child){
    border-top:1px solid #bbb;
    cursor:pointer;
}
tr:not(:first-child):hover{
    background:var(--sel);
}
td, th{
    padding: 4px;
    text-align:left;
}